extends layout

block content
  dev#content
    dev#top
      h1#title To do list
      
      form#add-task(method="post" action="/tasks/add")
        input.task(type="text", placeholder="Add a task", name="task")
        input.add(type="submit", value="Add")

    dev#tasks
      h3 Tasks  
      ul
        each task in all_tasks
          li= task.task
            button(type="submit" onclick="actTask(1, " + task.id + ")") Done
            button(type="submit" onclick="deleteTask(" + task.id + ")") Delete

    dev#completed
      h3 Completed
      ul
        each task in completed_tasks
          li= task.task
            button(type="submit" onclick="actTask(0, " + task.id + ")") Undone
            button(type="submit" onclick="deleteTask(" + task.id + ")") Delete
            
  


