extends layout

block content
  h1 To do list
  
  //- ul#menu 
  //-   li 
  //-     a(href="#") To Do List
  //-   li 
  //-     a(href="#") Completed

  form#add-task
    input.task(type="text", placeholder="Add a task")
    input(type="submit", value="Add")

  h2 Tasks
  block#all-tasks
    ul
      each task in all_tasks
        li= task.tasks
        input(type="submit", value="Delete")
        input(type="submit", value="Done")    

  h2 Completed
  block#completed  
    ul
      each task in completed_tasks
        li= task.tasks
        input(type="submit", value="Delete")
        input(type="submit", value="Undone")
  


