extends layout

block content
  h1 To do list
  
  form#add-task(method="post" action="/tasks/add")
    input.task(type="text", placeholder="Add a task", name="task")
    input(type="submit", value="Add")

  h2 Tasks
  block#all-tasks
    ul
      each task in all_tasks
        li= task.tasks
        button(type="submit" onclick="deleteTask(" + task.id + ")") Delete
        button(type="submit" onclick="CompleteTask(" + task.id + ")") Done

  h2 Completed
  block#completed  
    ul
      each task in completed_tasks
        li= task.tasks
        button(type="submit" onclick="deleteTask(" + task.id + ")") Delete
        button(type="submit" onclick="UncompleteTask(" + task.id + ")") Undone
  


